@using ASPNET_MVC5.Models
@using ASPNET_MVC5.Models.Input
@using ASPNET_MVC5.Infrastructure

@model InformacoesParaPagamentoInputModel


@{
    ViewBag.Title = "Informações para pagamento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Cadastro de candidato</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Informações para pagamento</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.NomeTitular, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NomeTitular, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NomeTitular, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CPF, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CPF, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CPF, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Banco, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Banco, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Banco, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Agencia, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Agencia, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Agencia, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NumeroDaConta, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NumeroDaConta, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NumeroDaConta, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TipoDeConta, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-12 text-left">
                        @Html.RadioButtonFor(model => model.TipoDeConta, TiposDeConta.Corrente, new { id = "Corrente" })
                        @Html.Label("Corrente", Helpers.GetEnumDescription(TiposDeConta.Corrente))
                    </div>
                    <div class="col-md-12 text-left">
                        @Html.RadioButtonFor(model => model.TipoDeConta, TiposDeConta.Poupanca, new { id = "Poupanca" })
                        @Html.Label("Poupanca", Helpers.GetEnumDescription(TiposDeConta.Poupanca))
                    </div>
                </div>
                @Html.ValidationMessageFor(model => model.TipoDeConta, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.ActionLink("Voltar", "CreateQuestionarioDeHabilidades", null, new { @class = "btn btn-default" })
                <input type="submit" value="Concluir" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Voltar a listagem", "List")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}





